.request {

    margin: 200px auto;
    background-color: $color-white;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    z-index: 1;
    position: relative;
    border-radius: 10px;

    &__img-wrapper {
        padding-left: 90px;
    }

    &__text-block {
        padding-left: 45px;
        margin: 65px 15px 0 15px;
    }

    &__title {
        @include text('Bebas Neue', 30px, normal, 700);
        margin-bottom: 30px;
    }

    &__text-description {
        @include text('Montserrat', 16px, normal, 400);
        max-width: 307px;
        margin-right: 15px;
    }

    &__button-choice {
        margin: 141px 65px 0px auto;
        flex-shrink: 0;
    }
}

@media (max-width: 1086px) {
    .request {

        margin: 100px 0;

		&__button-choice {
            margin: 25px auto 0 auto;
            width: 95%;
            margin-bottom: 35px;
		}
    }

}

@media (max-width: 754px) {
    
    .request {
		&__img-wrapper {
            padding-left: 25px;
		}
    }
}

@media (max-width: 689px) {
    
    .request {

        justify-content: center;

		&__img-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
		}
        
		&__text-block {
            padding-left: 0;
		}
    }
}