@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Bebas Neue', sans-serif;

$color-white: #FFFFFF;
$color-white-fon: #F8F9FD;
$color-black: #000000;
$color-blue: #4370E2;
$color-dark-blue: #263F91;

html{
    font-size: 10px;
    box-sizing: border-box;
}

* {
    scrollbar-color: $color-blue;
    scrollbar-width: thin;
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: $color-blue;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color:  $color-white;
}

body{
    overflow-x: hidden;
}

a{
    cursor: pointer;
}

@mixin text($f, $s, $h, $fw) {
    font-family: $f;
    font-size: $s;
    line-height: $h;
    font-weight: $fw
    // @include text(Montserrat, 24px, 79px, 600)
}


.main{
    width: 100%;
    height: fit-content;
    // padding: 0 10px;
    background-color: $color-white-fon;
    padding-top: 25px;

    &__fon-1 {
        position: absolute;
        left: 0px;
        top: 153px;
        border-radius: 452px;
        background: var(--Blue, #4087D5);
        filter: blur(270.5px);
        width: 320px;
        height: 320px;

        object-fit: contain;
    }

    &__fon-2 {
        position: absolute;
        right: 0px;
        top: 622px;
        width: 320px;
        height: 320px;
        border-radius: 452px;
        background: var(--Green, #23AC52);
        filter: blur(270.5px);
        object-fit: contain;
    }

    &__second-fon-1 {
        top: 4914px;
    }

    &__second-fon-2 {
        top: 3327px;
    }
    
    &__third-fon-1 {
        top: 6586px;
    }

    &__third-fon-2 {
        top: 6192px;
    }

    &__fourth-fon-2 {
        top: 2070px;
    }

    &__third-fon-2-business {
        top: 4900px;
    }

    &__fourth-fon-1 {
        top: 1900px;
    }
}

.button-choice {
    width: 267px;
    height: 50px;
    border-radius: 10px;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include text(Montserrat, 16px, 20px, 600);
    transition: all .3s ease;

    &_blue {
        background-color: $color-blue;
        color: $color-white;
    }

    &:hover{
        background-color: $color-dark-blue;
    }
}

