@import './null.scss';
@import './constants/root.scss';
@import './components/header/header.scss';
@import './components/main-page/mainPage.scss';
@import './components/our-service/ourService.scss';
@import './components/request/request.scss';
@import './components/first-lesson/first-lesson.scss';
@import './components/process/process.scss';
@import './components/calm/calm.scss';
@import './components/gift/gift.scss';
@import './components/call/call.scss';
@import './components/best-spec/best-spec.scss';
@import './components/feedback/feedback.scss';
@import './components/footer/footer.scss';
@import './businessComponents/header/headerBusiness.scss';
@import './businessComponents/mainPage/mainPageBusiness.scss';
@import './businessComponents/ourClientsBusiness/ourClientsBusiness.scss';
@import './businessComponents/feedbackBusiness/feedbackBusiness.scss';
@import './certificateComponents/giftCertificate/giftCertificate.scss';