.feedback__slide {

    &:hover .feedback__business{
        opacity: 1;
        bottom: 23%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.3);
    }

    &:hover .feedback__business-button{
        opacity: 1;
    }

    &:hover .feedback__business_another-size{
        bottom: 50%;
        left: 50%;
    }
}

.feedback__business-button{
        position: absolute;
        bottom: 40px;
        left: 30px;
        height: 50px;
        border-radius: 10px;
        border: 3px solid $color-blue;
        background-color: transparent;
        padding: 15px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-blue;
        opacity: 0;
        transition: all .3s ease;
        @include text(Montserrat, 16px, 20px, 600);
        transition: all .3s ease;
        @media (max-width:999px) {
            width: 100%;
        }
        
        &:hover{
            border-color: $color-dark-blue;
            color: $color-dark-blue;
        }
}