.first-lesson {

    margin-top: 200px;
    background-color: $color-dark-blue;
    color: $color-white;
    padding: 100px 10px 80px 10px;

    &__content-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    &__img-wrapper {
        width: 330px;
        transition: all ease 1.5s;
    }

    &__text-block {
        padding-left: 45px;
        margin: 0 15px;
        opacity: 1;
        transition: opacity ease 1.5s;
    }

    &__title-main {
        @include text('Bebas Neue', 40px, normal, 700);
        transition: all ease 1.5s;
    }

    &__text-description {
        @include text('Montserrat', 16px, normal, 400);
        max-width: 307px;
        margin-right: 15px;
    }

    &__button-choice {
        margin: auto 65px 0px auto;
        flex-shrink: 0;
        background-color: $color-white;
        color: $color-blue;
        opacity: 1;
        transition: opacity ease 1.5s;
        transition: background-color ease .3s;

        &:hover{
            background-color: $color-blue;
            color: $color-white;
            // transition: all ease .3s;
        }
    }
}

@media (max-width: 1086px) {
    .first-lesson {

        margin-top: 100px;
        padding: 35px 0;

        &__img-wrapper {
            margin-left: 25px;
		}

		&__button-choice {
            margin: 25px auto 0 auto;
            width: 95%;
		}
    }

}

@media (max-width: 754px) {
    
    .first-lesson {

        &__content-wrapper {
            justify-content: center;
        }
        
		&__img-wrapper {
            margin-left: 0;
		}

        &__title-main {
            text-align: center;
        }
    }

}

@media (max-width: 689px) {
    
    .first-lesson {

        justify-content: center;
        padding: 35px 0;

		&__img-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 35px;
            margin: 0 25px;
		}

		&__text-block {
            padding-left: 0;
		}

    }
}

// animation classes

.f-l-anim {

    &__wrapper {
        width: 29%;
    }

    &__title {
        font-size: 80px;
    }

    &__hidden {
        opacity: 0;
        transition: all ease 1.5s;
    }

}