.feedback {
    width: 100%;
    background-color: $color-dark-blue;
    padding-bottom: 100px;

    &__container{
        // // max-width: 1440px;
        // margin: 0 auto;
        // // padding: 0 10px;
    }

    &__title-container{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 10px;
        
    }

    &__title {
        @include text('Bebas Neue', 40px, 40px, 700);
        color: $color-white;

        max-width: 427px;
        padding: 100px 0 50px 0;

        @media (max-width:800px) {
            text-align: center;
            max-width: 100%;
        }
    }

    &__swiper {
        width: 96%;
        height: 580px;
        overflow: hidden;
        margin: 0 0 0 auto;
    }

    &__wrapper {
        width: 100%;
        
    }

    &__slide {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        
        border-radius: 10px;
        background-color: $color-white;

        &:hover .feedback__hidden-img{
            transform: translate(0%, 0%);
            opacity: 1;
        }

        &:hover .feedback__hidden-link{
            opacity: 1;
        }

        &:hover .feedback__avatar{
            transform: translate(118%, -318%);
            opacity: 0;
            @media (max-width: 1200px) {
                transform: translate(113%, -309%);
            }
            @media (max-width: 1000px) {
                transform: translate(75%, -309%);
            }
            @media (max-width: 800px) {
                transform: translate(80%, -304%);
            }
            @media (max-width: 600px) {
                transform: translate(67%, -309%);
            }
            @media (max-width: 500px) {
                transform: translate(136%, -309%);
            }
        }

        &:hover .feedback__card-name{
            margin: 0 0 34px 0px;
        }
    }

    &__slider-title {
        @include text('Bebas Neue', 30px, 36px, 400);
        padding: 30px 0 0 30px;
        max-width: 360px;
    }

    &__slider-img-container {
        max-width: 200px;
        max-height: 280px;
        align-self: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__slider-footer-container {
        display: flex;
        justify-content: space-between;
        margin: 0 0 30px 30px;
        img{
            // width: 100px;
            // height: 100px;
            
        }
        p{
            @include text('Bebas Neue', 30px, 30px, 300);
            align-self: center;
            padding-left: 20px;
        }
    }

    &__footer-left-part{

    }

    &__card-name{
        transition: all .5s ease;
        margin: 0 0 34px 100px;
    }

    

    &__footer-story{
        @include text('Montserrat', 16px, 20px, 600);
        color: $color-blue;
        margin-right: 30px;
        align-self: center;
        position: relative;
        text-align: center;
        @media (max-width:1372px) {
            max-width: 90px;
        }
        &::after{
            content: '';
            width: 16px;
            height: 16px;
            background-image: url('./components/feedback/img/vector.svg');
            position: absolute;
            top: 2px;
            right: -20px;
            @media (max-width:1372px) {
                top: 11px;
            }
        }
    }

    &__hidden-img{
        transform: translate(-61%, 116%);
        transition: all .5s ease;
        opacity: 0;
    }

    &__hidden-link{
        transition: all .5s ease;
        opacity: 0;
        margin-bottom: 34px;
    }

    &__avatar{
        position: absolute;
        bottom: 30px;
        left: 30px;
        transition: all .5s ease;
        transform: translate(0%, 0%);
        opacity: 1;

        &_size{
            width: 100px;
            height: 100px;
        }
    }

}