.our-service {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    min-width: 0;
    height: fit-content;
    padding-left: 10px;
    @media (max-width: 1250px) {
        flex-direction: column;
    }
    &__heading-container {
        max-width: 300px;
        margin-right: 60px;
        @media (max-width: 1250px) {
            align-self: center;
            max-width: fit-content;
            margin: 0;
        }
    }

    &__title {
        @include text('Bebas Neue', 40px, 40px, 700);
        @media (max-width: 1250px) {
            text-align: center;
        }
    }

    &__subtitle {
        @include text('Montserrat', 16px, 20px, 400);
        padding-top: 30px;
    }

    &__swiper-container {
        width: 100%;
        height: 500px;
        margin-bottom: 120px;
    }

    &__swiper-wrapper {
        display: flex;
        min-width: 0;
        transition-timing-function: linear !important;
    }

    &__swiper-slide {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        &_size-small{
            width: calc(100% * 0.24) !important;
        }

        &_size-medium{
            width: calc(100% * 0.28) !important;
        }

        &_size-large{
            width: calc(100% * 0.4) !important;
        }

        @media (max-width: 600px) {
            justify-content: start !important;
        }
    }

    &__swiper-real-slide{
        height: calc((100% - 30px) / 2);
        background-color: $color-white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }

    &__swiper-img-container {
        max-width: 260px;
        max-height: 180px;
        padding: 10px;
        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        @include text('Bebas Neue', 20px, 24px, 400);
        padding: 10px 0 10px 0;
        text-align: center;
    }
}

._shift{
    @media (min-width: 900px) {
        transform: translate(70px);
    }
    
}

